[submodule "Samarium-PluginFramework"]
	path = Samarium-PluginFramework
	url = https://github.com/Beatsleigher/Samarium-PluginFramework.git
[submodule "Samarium-MailProcessor"]
	path = Samarium-MailProcessor
	url = https://github.com/Beatsleigher/Samarium-MailProcessor.git
[submodule "Samarium-Mobile"]
	path = Samarium-Mobile
	url = https://github.com/Beatsleigher/Samarium-Mobile.git
[submodule "Samarium-Samples"]
	path = Samarium-Samples
	url = https://github.com/Beatsleigher/Samarium-Samples.git
